<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="KPSPublicSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="KPSPublicSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://tckimlik.nvi.gov.tr/Service/KPSPublic.asmx"
                binding="basicHttpBinding" bindingConfiguration="KPSPublicSoap"
                contract="MernisServiceReference.KPSPublicSoap" name="KPSPublicSoap" />
        </client>
    </system.serviceModel>
</configuration>